# .deb Packages
*.deb

# Source packages
*.dsc
*.orig.tar.gz
*.debian.tar.xz

# Downloaded / extracted upstream release artifacts
mitmproxy-*-linux-*/
mitmproxy-*-linux-*.tar.gz
/usr/
/DEBIAN/
.mitmproxy_release_name

.idea/*
.DS_Store
